/%p.left-content__bottom__group__group-name test-group
/%p.left-content__bottom__group__coment test-coment
.left-content
  .left-content__top
    .left-content__top__box
      %p.left-content__top__box__user-name
        = current_user.name
      %ul.left-content__top__box__link-box
        %li.left-content__top__box__link-box__new-group
          = link_to new_group_path do
            %i.fa.fa-edit.icon__white
        %li.left-content__top__box__link-box__edit-user
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog.icon__white
  .left-content__bottom
    - current_user.groups.each do |group|
      = link_to 'group_messages_path(group)' do
        .left-content__bottom__group
          .left-content__bottom__group__group-name
            = group.name
          .left-content__bottom__group__coment
            メッセージはまだありません。