.wrapper
  = render 'group' 

  .right-content
    .right-content__top
      .right-content__top__left-box
        %p.right-content__top__left-box__group
          = @group.name
        %p.right-content__top__left-box__member
          Member :
          - @users.each do |name|
            = name.name
      .right-content__top__right-box
        = link_to 'edit' do
          .right-content__top__right-box__btn Edit
    .right-content__main
      = render @messages
    .right-content__bottom
      .form
        = form_for [@group, @message] do |f|
          .form__box
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'